<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style>
        div.stars {}

        a.star {
            font-size: 24px;
            color: #f0f1f4;
            cursor: pointer;
            line-height: 1;
            transition: all 0.1s ease;
        }

        a.star.vote-hover {
            color: yellow;
        }

        a.star:active {
            color: yellow;
        }

        a.star.vote-active {
            color: yellow;
        }

        .blue {
            color: #0faef1;
        }
    </style>
</head>
<body>
<div id="cate-rating" class="cate-rating">
    <input type="hidden" id="user" name="user" th:value="${user.userId}">
    <input type="hidden" id="book" name="hotelCurrent" th:value="${book.bookId}">
    <div class="stars">
        <a id="star-1" class="star"><span class="glyphicon glyphicon-star"></span></a>
        <a id="star-2" class="star"><span class="glyphicon glyphicon-star"></span></a>
        <a id="star-3" class="star"><span class="glyphicon glyphicon-star"></span></a>
        <a id="star-4" class="star"><span class="glyphicon glyphicon-star"></span></a>
        <a id="star-5" class="star"><span class="glyphicon glyphicon-star"></span></a>
        <p id="vote-desc">Mời bạn cho điểm!</p>
    </div>
    <div class="clearfix"></div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        /*
          * Hiệu ứng khi rê chuột lên ngôi sao
          */
        $('a.star').mouseenter(function() {
            if ($('#cate-rating').hasClass('rating-ok') == false) {
                var eID = $(this).attr('id');
                eID = eID.split('-').splice(-1);
                $('a.star').removeClass('vote-active');
                for (var i = 1; i <= eID; i++) {
                    $('#star-' + i).addClass('vote-hover');
                }
            }
        }).mouseleave(function() {
            if ($('#cate-rating').hasClass('rating-ok') == false) {
                $('a.star').removeClass('vote-hover');
            }
        });

        /*
         * Sự kiện khi cho điểm
         */
        $('a.star').click(function() {
            if ($('#cate-rating').hasClass('rating-ok') == false) {
                var eID = $(this).attr('id');
                eID = eID.split('-').splice(-1).toString();
                for (var i = 1; i <= eID; i++) {
                    $('#star-' + i).addClass('vote-active');

                }
                $('p#vote-desc').html('<span class="blue">' + eID);
                $('#cate-rating').addClass('rating-ok');
            }
        });

    // $('#formComment').submit(function (event) { // là funtion được gọi khi submit from có id là newSmartphoneForm
    //     var content = $('#content').val();
    //     var book = $('#book').val();
    //     var user = $('#user').val();// thực hiện lấy dữ liệu từ các input tương ứng
    //     var json = {
    //         "user": parseInt(user),
    //         "book": parseInt(book),
    //         "content": content
    //     };// gán các biến vào các trường tương ứng của đối tượng json.
    //     $.ajax({
    //         headers: {
    //             'Accept': 'application/json',
    //             'Content-Type': 'application/json'
    //         },
    //         type: "POST", // method
    //         data: JSON.stringify(json),
    //         url: "/commentCreate", //link này ở RequestMapping
    //         success: function (comment) { // reponse này ở requestBody
    //             var respContent = "";
    //             respContent += "<div><span>";
    //             respContent += comment.user.name + "</span></div>";
    //             respContent += "<div><span> ";
    //             respContent += comment.content + "</span></div>";
    //             // $("#allComment").html(respContent);
    //             $("#allComment").prepend(respContent);
    //             $("#content").val("");
    //         }, error: function () {
    //             console.log(this.error);
    //         }
    //     });
    //     console.log(json)
    //     event.preventDefault();
    //     close();
    });
</script>
</body>v
</html>