<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style>
    </style>
</head>
<body>
<h1>Edit Book</h1>
<p>
    <a href="/book/list">Book list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/book/edit}" th:object="${book}" method="post">
    <input th:type="hidden" name="id" th:field="*{bookId}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Publication date:</td>
            <td><input type="number" th:field="*{publishedDate}"/></td>
        </tr>
        <tr>
            <td>Pages:</td>
            <td><input type="number" th:field="*{pages}"/></td>
        </tr>
        <tr>
            <td>Categories:</td>
            <td>
                <div th:each="category : ${allCategories}">
                    <input type="checkbox" name="category"
                           th:value="${category.categoryId}"
                           th:field="*{categories}"/>
                    <span th:text="${category.categoryName}"></span>
                </div>
            </td>

        </tr>
        <tr>
            <td>Author:</td>
            <td>
                <select name="authors" th:field="*{authorId}">
                    <option th:each="author : ${allAuthors}"
                            th:value="${author.authorId}"
                            th:text="${author.authorName}"
                            th:selected="(${author.authorId} == *{authorId.authorId})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update book"></td>
        </tr>
    </table>
</form>
</body>
</html>